{% extends "base.html" %}
{% block content %}
<section class="container">
<h2>調味料を登録</h2>
<form action="/upload" method="post" enctype="multipart/form-data">
<video id="camera" autoplay playsinline></video>
<canvas id="photoCanvas" style="display:none;"></canvas>

<div class="button-group">
 <label for="fileInput" class="custom-file-upload">
 📸 撮影
 </label>
 <input type="file" id="fileInput" name="file" accept="image/*" capture="environment" style="display: none;">
</div>

<input type="text" name="name" placeholder="調味料名を入力" required>
  
 <input type="date" name="expiry" placeholder="期限を入力 (任意)"> 
  
<button type="submit">登録する</button>
</form>
</section>
{% endblock %}
<script src="/static/script.js"></script>